.vs/SennaSubnauticaMods/v15/*
CheatManager/obj/Release/*
LaserCannon/obj/*
RepairModule/obj/*
ScannerModule/obj/*
SlotExtender/obj/*
SeamothArms/obj/Release/*
*.ide-wal
*.cache
*.dll
CheatManager/obj/Release/CheatManager.csproj.FileListAbsolute.txt
CyclopsLaserCannon/obj/Release/CyclopsLaserCannonModule.csproj.FileListAbsolute.txt
